.footer {
  height: 255px;
  border-top: 1px solid $gray-elements;
  padding: 32px 0 0 0;

  @include on-tablet {
    height: 100px;
  }

  &__content {
    display: block;

    @include on-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    background: url('../icon/Logo.svg');
    background-position: left;
    background-repeat: no-repeat;
    padding-right: 64px;
    height: 24px;
    margin-bottom: 32px;
    display: block;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__wrap {
    display: block;
    gap: 14px;
    margin-bottom: 32px;

    @include on-tablet {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    @include on-desktop {
      gap: 64px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $gray-secondary;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 16px;
    transition: color .5s;

    @include on-tablet {
      padding-left: 14px;
      padding: 20px 0;
      margin-bottom: 0;
    }

    &:hover {
      color: $gray-primary;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      justify-content: start;
    }

    &__text {
      color: $gray-secondary;
      text-align: right;
      font-size: 12px;
      font-weight: 600;
      padding-right: 16px;
    }

    &__button {
      width: 32px;
      height: 32px;
      border: 1px solid $gray-icons;
      background: #fff;
      cursor: pointer;
      transition: border .5s;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border: 1px solid $gray-primary;
      }
    }
  }
}