@import '../../style/utils/vars.scss';
@import '../../style/utils/mixins';
@import '../../style/container';
@import '../../style/grid';

.header {
  position: relative;
  height: 350px;
  margin-bottom: 70px;

  @include on-tablet {
    height: 220px;
    margin-bottom: 60px;
  }

  @include on-desktop {
    height: 430px;
  }

  &__swiper {
    height: 350px;
    width: 100%;
    position: absolute;
    display: flex;
    left: 0;

    @include on-tablet {
      position: relative;
      height: 220px;
      width: calc(100% - 64px - 40px);
    }

    @include on-desktop {
      height: 430px;
      width: calc(100% - 64px - 32px);
    }

    &-img {
      height: 320px;
      width: 100%;
      object-fit: cover;

      @include on-tablet {
        display: block;
        margin: 0 auto;
        height: 190px;
        width: calc(100% - 64px - 40px);
      }

      @include on-desktop {
        height: 400px;
        width: calc(100% - 64px - 32px);
      }
    }

    &-button {
      position: absolute;
      width: 32px;
      border: 1px solid $gray-icons;
      z-index: 10;
      cursor: pointer;
      display: none;

      @include on-tablet {
        height: 190px;
        display: flex;
      }

      @include on-desktop {
        height: 400px;
      }

      &:hover {
        border: 1px solid $gray-primary;
      }

      &-next {
        right: 0;
        justify-content: end;
      }
    }

    .swiper-pagination {
      position: absolute;
      display: block;
      bottom: 0;

      &-bullet {
        height: 3px;
        width: 14px;
        border-radius: 0;
        background-color: $gray-secondary;

        &-active {
          background-color: $gray-primary;
        }
      }
    }
  }
}